.display-message {
  font-size: 2.4rem;
  margin-top: 25vh;
  line-height: 4rem;
  margin-left: 1vw;
}
span {
  color: goldenrod;
  font-size: 2.9rem;
}
.display-para {
  font-size: 1.2rem;
  color: rgb(255, 255, 255, 0.6);
  line-height: 140%;
  margin-top: 10vh;
  margin-left: 1vw;
  width: 50vw;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0vw;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #1d3f3a;
  border-bottom: 2px solid white;
}
.navbar a {
  width: 17vw;
  text-decoration: none;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  &:hover {
    cursor: pointer;
    color: goldenrod;
    text-decoration: underline;
  }
}
.navbar a:nth-of-type(1) {
  margin-left: 3vw;
}
.logo {
  position: absolute;
  top: -1.5vh;
  left: 1vw;
}
.logo img {
  width: 4vw;
}
.home-image {
  position: absolute;
  top: 35vh;
  left: 70vw;
}
.home-image img {
  width: 15vw;
}

body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0b141a 10%, #419286 400%);
  color: FloralWhite;
  font-family: "Poppins", sans-serif;
  min-height: 74vh;
}
.category {
  background-color: rgb(255, 255, 255, 0.1);
  padding: 0.3rem;
  border-radius: 2rem;
  width: 24vw;
  height: 5vh;
}
.category select {
  padding: 0.4rem;
  width: 14vw;
  border-radius: 1rem;
  border: none;
  position: relative;
  right: 2.5vw;
  bottom: -0.2vh;
  z-index: 3;
}
.category a {
  position: relative;
  right: 2.7vw;
  top: 0.3vh;
}
.category button {
  position: relative;
  left: 24vw;
  bottom: 4.3vh;
  width: 2vw;
  padding: 0.3rem;
  border-radius: 10rem;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
